.counter-display {
    text-align: center;
    margin: 100px 0;
}
.counter-display div {
    display: inline-block;
    font-size: 100px;
    background: lightcyan;
    color: red;
    width: 80px;
}
.bi-clock {
    width: 60px;
    height: 60px;
}